* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}

h1 {
  margin: 0;
  font-family: "Lobster", cursive;
  font-weight: normal;
  font-size: 2rem;
}

h2 {
  margin: 0 0 0.5rem 0;
  font-family: "Lobster", cursive;
  font-weight: normal;
  font-size: 1.2rem;
}
h3 {
  margin: 0 0 0.5rem 0;
  font-family: "Lobster", cursive;
  font-weight: normal;
  font-size: 1.2rem;
}
header {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 0.5rem;
  background-color: #736357;
  color: #a8c9dd;
}

#app {
  display: flex;
}

#map {
  flex: 2;
  height: calc(100vh - 3rem);
  overflow: hidden;
}
