* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  background-color: #4e961e;
}

h1 {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  color:green;
  font-size: 2rem;
}
aside {
  flex: 2;
  /* height: calc(100vh - 3rem); */
  width:calc(100vh - 3rem);
  overflow: hidden;
}
h1 {
  font: times;
  text-align: center;
  color: #4e961e;
}

h2 {
  margin: 0 0 0.5rem 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.2rem;
  color: black;
}
h3 {
  margin: 0 0 0.5rem 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.2rem;
}
header {
  display: grid;
  align-items: center;
  text-align: center;
  height: 8rem;
  /* color:black */
  /* padding: 0 0.5rem; */
  background-color: white;
  /* color: #4e961e; */
}
nav {
  display: grid;
  align-items:center;
  height: 3rem;
  background-color: white;
}

#app {
  display: flex;
}

/* #map {
  flex: 2;
  height: calc(100vh - 3rem);
  overflow: hidden;
} */
p {
  text-align: center;
}

.find-kombucha {
  border-radius: 3px;
  border-color: rgb(197, 150, 21);
  background-color: rgb(197, 150, 21);
}
/* #find-kombucha {
  align-items: center;
} */

.leaflet-container {
  flex: 2;
  height: calc(100vh - 3rem);
  overflow: hidden;
}